.body{
    background-color:#f2f0ef;
  }
  .card {
border: 0;
border-radius: 10px;
padding: 30px;
margin: 30px;
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
box-shadow: 0 2px 3px rgba(0,0,0,0.03);
-webkit-transition: .5s;
transition: .5s;
}
.navbar{
background-color: #57c8fd;
margin:10px;
border-radius: 10px;
}
.heading{
padding:20px;
}